.editor{
    display: flex;
    gap: 10px;
}

.editor > input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.editor > button {
    color: white;
    background-color: rgb(37, 147, 225);
    width: 80px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
