.List {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.List > input {
    border: none;
    border-bottom: 1px solid grey;
    padding: 15px 0px;
}

.List > input:focus {
    outline: none;
    border-bottom: 1px solid deepskyblue;
    padding: 15px 0px;
}

.List .wrapper-todos{
    display: flex;
    flex-direction: column;
    gap: 20px
}
