@font-face {
    font-family: "Jalnan";
    src: url("../public/Jalnan.ttf");
}

@font-face {
    font-family: "Happiness";
    src: url("../public/Happiness-Sans-Print-Regular.ttf");
}

body * {
    font-family: "Happiness", "monospace";
}

html, body {
    margin: 0;
    width: 100%;
    display: flex;
}

#root {
    padding: 0px 20px;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}